<div class="panel">
	<h1>Get Your Company BS!</h1>
	<h2 class="hid">Team, it's obvious. All we have to do is <br><span id="bs"></span></h2>
	<br>
	<button id="generate" class="btn btn-danger btn-lg">Crisis!</button>
</div>